@model MemberMicroservice.Models.MemberPremium

@{
    ViewData["Title"] = "ViewBill";
}
@{
    string freq = "";
    if(Model.MemberID == 1 || Model.MemberID == 2)
    {
        freq = "Yearly Premium";
    }
    else if (Model.MemberID == 3)
    {
        freq = "Half-Yearly Premium";
    }
    else if(Model.MemberID == 4)
    {
        freq = "Monthly Premium";
    }
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("MemberID")
                </th>
                <th>
                    @Html.DisplayName("PolicyID")
                </th>
                <th>
                    @Html.DisplayName("PremiumDue")
                </th>
                <th>
                    @Html.DisplayName("PaymentDetails")
                </th>
                <th>
                    @Html.DisplayName("DueDate")
                </th>
                <th>
                    @Html.DisplayName("LastPremiumPaidDate")
                </th>
                <th>
                    @Html.DisplayName("Premium Frequency")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.MemberID)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PolicyID)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PremiumDue)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PaymentDetails)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastPremiumPaidDate)
                </td>
                <td>
                    @freq
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <div class="container">
        <div class="jumbotron">
            <h1 style="color:red;text-align:center" >No Policy  has been subscribed.</h1>
        </div>
    </div>
    <h2></h2>
}


<br /><br/><br /><br /><br /><br /><br /><br />

<div class="row row-content">
           <div class="col-12">
              <h3>Contact</h3>
           </div>
           <hr />
            <div class="col-12 col-sm-4 offset-sm-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              121, Water Bay Road<br>
		              Water Bay, Chennai<br>
		              India<br>
		              <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                      <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                      <i class="fa fa-envelope fa-lg"></i>:
                        <a href="mailto:claims@service.net">claims@service.net</a>
		           </address>
            </div>
            <div class="col-12 col-sm-6 offset-sm-1">
                <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fab fa-google"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fab fa-youtube"></i></a>
                        
                    </div>
            </div>
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info"><i class="fab fa-skype"></i>Skype</a>
                    <a role="button" class="btn btn-success" href="mailto:claims@service.net"><i class="fa fa-envelope"></i> Mail</a>
                </div>
            </div>
        </div>